orchestration/adf/pipeline/Pipe_BatchELT_R1.json
{
	"name": "Pipe_BatchELT_R1",
	"properties": {
		"activities": [
			{
				"name": "DeleteSlice",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM stg.trip\nWHERE ingest_date = '@{pipeline().parameters.ingest_date}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ListFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "DeleteSlice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Folder",
						"type": "DatasetReference",
						"parameters": {
							"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToStaging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "ingest_date",
											"value": {
												"value": "@{pipeline().parameters.ingest_date}",
												"type": "Expression"
											}
										},
										{
											"name": "source_file_name",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										},
										{
											"name": "loaded_at",
											"value": {
												"value": "@{utcNow()}",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "VendorID"
											},
											"sink": {
												"name": "vendor_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "tpep_pickup_datetime"
											},
											"sink": {
												"name": "tpep_pickup_datetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "tpep_dropoff_datetime"
											},
											"sink": {
												"name": "tpep_dropoff_datetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "passenger_count"
											},
											"sink": {
												"name": "passenger_count",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "trip_distance"
											},
											"sink": {
												"name": "trip_distance",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "RatecodeID"
											},
											"sink": {
												"name": "ratecodeid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "store_and_fwd_flag"
											},
											"sink": {
												"name": "store_and_fwd_flag",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PULocationID"
											},
											"sink": {
												"name": "pu_location_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DOLocationID"
											},
											"sink": {
												"name": "do_location_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "payment_type"
											},
											"sink": {
												"name": "payment_type",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "fare_amount"
											},
											"sink": {
												"name": "fare_amount",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "extra"
											},
											"sink": {
												"name": "extra",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "mta_tax"
											},
											"sink": {
												"name": "mta_tax",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "tip_amount"
											},
											"sink": {
												"name": "tip_amount",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "tolls_amount"
											},
											"sink": {
												"name": "tolls_amount",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "improvement_surcharge"
											},
											"sink": {
												"name": "improvement_surcharge",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "total_amount"
											},
											"sink": {
												"name": "total_amount",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "congestion_surcharge"
											},
											"sink": {
												"name": "congestion_surcharge",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "Airport_fee"
											},
											"sink": {
												"name": "airport_fee",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "ingest_date"
											},
											"sink": {
												"name": "ingest_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "source_file_name"
											},
											"sink": {
												"name": "source_file_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "loaded_at"
											},
											"sink": {
												"name": "loaded_at",
												"type": "DateTime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Parquet_NycTaxi",
									"type": "DatasetReference",
									"parameters": {
										"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}",
										"fileName": "@{item().name}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Sql_StgTrip",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ingest_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}