orchestration/adf/pipeline/Pipe_BatchELT_R1.json
{
	"name": "Pipe_BatchELT_R1",
	"properties": {
		"activities": [
			{
				"name": "DeleteSlice",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM stg.trip\nWHERE ingest_date = '@{pipeline().parameters.ingest_date}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ListFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "DeleteSlice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Folder",
						"type": "DatasetReference",
						"parameters": {
							"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFiles').output.childItems",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "TranscodeToSnappy",
										"type": "SynapseNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": {
													"value": "Notebook 1",
													"type": "Expression"
												},
												"type": "NotebookReference"
											},
											"snapshot": true,
											"sparkPool": {
												"referenceName": {
													"value": "spsmall01",
													"type": "Expression"
												},
												"type": "BigDataPoolReference"
											},
											"executorSize": "Small",
											"driverSize": "Small"
										},
										"linkedServiceName": {
											"referenceName": "AzureSynapseArtifacts1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "TruncateRaw",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "TranscodeToSnappy",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "TRUNCATE TABLE stg.trip_raw;\n"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "CopyIntoRaw",
										"description": "",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "TruncateRaw",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "COPY INTO stg.trip_raw\nFROM 'https://eltazr1adls.dfs.core.windows.net/raw/nyc_taxi_snappy/ingest_date=@{pipeline().parameters.ingest_date}/file_name=@{item().name}/'\nWITH (\n  FILE_TYPE  = 'PARQUET',\n  CREDENTIAL = (IDENTITY = 'Managed Identity'),\n  PATTERN    = '*.parquet',\n  MAXERRORS  = 0\n);\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "InsertIntoFinal",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "CopyIntoRaw",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "INSERT INTO stg.trip\n(\n  vendor_id, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance,\n  ratecodeid, store_and_fwd_flag, pu_location_id, do_location_id, payment_type, fare_amount,\n  extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount,\n  congestion_surcharge, airport_fee,\n  ingest_date, source_file_name, loaded_at\n)\nSELECT\n  VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance,\n  RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount,\n  extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount,\n  congestion_surcharge, Airport_fee,\n  '@{pipeline().parameters.ingest_date}', '@{item().name}', SYSUTCDATETIME()\nFROM stg.trip_raw;\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ingest_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}