orchestration/adf/pipeline/pl_streaming_backfill_range.json
{
	"name": "pl_streaming_backfill_range",
	"properties": {
		"activities": [
			{
				"name": "currentHour",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentHour",
					"value": "@formatDateTime(pipeline().parameters.startHourUtc, 'yyyy-MM-ddTHH:00:00Z')\n"
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "currentHour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('currentHour'), pipeline().parameters.endHourUtc)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_streaming_curated_to_stg_core_mdl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fixedHourUtc": "@variables('currentHour')"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "incrementcurrentHour",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentHour",
					"value": "@formatDateTime(addHours(variables('currentHour'), 1), 'yyyy-MM-ddTHH:00:00Z')\n"
				}
			}
		],
		"parameters": {
			"startHourUtc": {
				"type": "string"
			},
			"endHourUtc": {
				"type": "string"
			}
		},
		"variables": {
			"currentHour": {
				"type": "String"
			}
		},
		"annotations": []
	}
}