orchestration/adf/pipeline/pl_streaming_curated_to_stg_copy1.json
{
	"name": "pl_streaming_curated_to_stg_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IfHourExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "DeleteExisting",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_delete_trips_by_blob]",
								"storedProcedureParameters": {
									"blobPath": {
										"value": {
											"value": "@concat('streaming-curated/', variables('hourPath'), '/', item())",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_syn_sql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CopyCuratedToStg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DeleteExisting",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "_runId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "_blobPath",
											"value": {
												"value": "@concat('streaming-curated/', variables('hourPath'), '/', item())",
												"type": "Expression"
											}
										},
										{
											"name": "_ingestedAt",
											"value": "@utcnow()"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 1
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_storage_curated",
										"type": "LinkedServiceReference"
									},
									"path": "adf-staging"
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_curated_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_trips_stg",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "LogSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyCuratedToStg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_log_ingest]",
								"storedProcedureParameters": {
									"blobPath": {
										"value": {
											"value": "@concat('streaming-curated/', variables('hourPath'), '/', item())",
											"type": "Expression"
										},
										"type": "String"
									},
									"message": {
										"value": " ",
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@coalesce(activity('CopyCuratedToStg').output.rowsCopied, 0)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"runId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_syn_sql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LogFailure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyCuratedToStg",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_log_ingest]",
								"storedProcedureParameters": {
									"blobPath": {
										"value": {
											"value": "@concat('streaming-curated/', variables('hourPath'), '/', item())",
											"type": "Expression"
										},
										"type": "String"
									},
									"message": {
										"value": {
											"value": "@string(activity('CopyCuratedToStg').error.message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": "0",
										"type": "Int64"
									},
									"runId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_syn_sql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LogDeleteFailure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteExisting",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_log_ingest]",
								"storedProcedureParameters": {
									"blobPath": {
										"value": {
											"value": "@concat('streaming-curated/', variables('hourPath'), '/', item())",
											"type": "Expression"
										},
										"type": "String"
									},
									"message": {
										"value": {
											"value": "@string(activity('DeleteExisting').error.message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": "0",
										"type": "Int64"
									},
									"runId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_syn_sql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SetHourPath",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hourPath",
					"value": {
						"value": "@concat(\n  'date=',\n  formatDateTime(utcnow(),'yyyy'), '/',\n  formatDateTime(utcnow(),'MM'), '/',\n  formatDateTime(utcnow(),'dd'), '/',\n  formatDateTime(utcnow(),'HH')\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckHourFolder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SetHourPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_curated_folder",
						"type": "DatasetReference",
						"parameters": {
							"dir": "@variables('hourPath')"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "IfHourExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckHourFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckHourFolder').output.exists, true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetFilesEmpty",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "files",
								"value": [
									"@json('[]')"
								]
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "GetFiles",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_curated_folder",
									"type": "DatasetReference",
									"parameters": {
										"dir": "@variables('hourPath')"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "SetFiles",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetFiles",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "files",
								"value": {
									"value": "@coalesce(activity('GetFiles').output.childItems, json('[]'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"curatedContainer": {
				"type": "string",
				"defaultValue": "streaming-curated"
			},
			"curatedPrefix": {
				"type": "string",
				"defaultValue": "streaming-curated"
			},
			"processMode": {
				"type": "string",
				"defaultValue": "lastHour"
			}
		},
		"variables": {
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"hour": {
				"type": "String"
			},
			"hourPath": {
				"type": "String"
			},
			"files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}