eltazr3-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eltazr3-adf"
		},
		"ls_syn_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_syn_sql'"
		},
		"AzureSynapseArtifacts1_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://eltazr3-syn.dev.azuresynapse.net"
		},
		"AzureSynapseArtifacts2_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://eltazr3-syn.dev.azuresynapse.net"
		},
		"ls_adls_raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eltazr3adls.dfs.core.windows.net/"
		},
		"ls_adls_raw_adf_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eltazr3adls.dfs.core.windows.net/"
		},
		"ls_syn_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "eltazr3-syn.sql.azuresynapse.net"
		},
		"ls_syn_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "eltazr3_sqlpool"
		},
		"ls_syn_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "synadmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseArtifacts1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSynapseArtifacts",
				"typeProperties": {
					"endpoint": "[parameters('AzureSynapseArtifacts1_properties_typeProperties_endpoint')]",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/6c6119b6-a5fd-406b-aa20-45a34495a8d7/resourceGroups/eltazr3-rg/providers/Microsoft.Synapse/workspaces/eltazr3-syn"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseArtifacts2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSynapseArtifacts",
				"typeProperties": {
					"endpoint": "[parameters('AzureSynapseArtifacts2_properties_typeProperties_endpoint')]",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/6c6119b6-a5fd-406b-aa20-45a34495a8d7/resourceGroups/eltazr3-rg/providers/Microsoft.Synapse/workspaces/eltazr3-syn"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_raw_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_raw_adf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_raw_adf_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_syn_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_syn_sql_properties_typeProperties_server')]",
					"database": "[parameters('ls_syn_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_syn_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_syn_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2025-09-17T14:13:00Z",
					"endTime": "2025-09-20T14:13:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stg_to_core_nyctaxi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LogStart",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @run_id   NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage    NVARCHAR(32)  = 'stg_to_core';\nDECLARE @dataset  NVARCHAR(128) = '@{pipeline().parameters.dataset}';\nDECLARE @ingest   DATE          = '@{pipeline().parameters.run_date}';\n\nINSERT INTO ops.run_log (run_id, stage, dataset, ingest_date, status, started_at_utc)\nSELECT @run_id, @stage, @dataset, @ingest, 'STARTED', SYSUTCDATETIME();\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "BuildSlice_CTAS",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LogStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- BuildSlice_CTAS\nDECLARE @ingest_date DATE = '@{pipeline().parameters.run_date}';\n\nIF OBJECT_ID('core.trip_clean_slice') IS NOT NULL\n  DROP TABLE core.trip_clean_slice;\n\nCREATE TABLE core.trip_clean_slice\nWITH (\n  DISTRIBUTION = ROUND_ROBIN,              -- safer since we don't have a reliable hash key\n  CLUSTERED COLUMNSTORE INDEX\n)\nAS\nSELECT\n  UPPER(NULLIF(LTRIM(RTRIM(CAST(s.VendorID AS VARCHAR(32)))), '')) AS vendor_code,\n  CAST(NULL AS BIGINT)                                             AS trip_id,          -- NYC Taxi has no trip_id\n  TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime)                   AS pickup_ts_utc,\n  TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime)                  AS dropoff_ts_utc,\n  CASE\n    WHEN TRY_CAST(s.trip_distance AS FLOAT) IS NULL THEN NULL\n    ELSE ROUND(TRY_CAST(s.trip_distance AS FLOAT) * 1.609344, 3)\n  END                                                              AS trip_distance_km,\n  TRY_CAST(s.fare_amount AS DECIMAL(9,2))                          AS fare_amount,\n  COALESCE(\n    rp.payment_type_std,\n    CASE TRY_CAST(s.payment_type AS INT)\n      WHEN 1 THEN 'CARD'\n      WHEN 2 THEN 'CASH'\n      WHEN 3 THEN 'NO_CHARGE'\n      WHEN 4 THEN 'DISPUTE'\n    END\n  )                                                                AS payment_type,\n  CASE\n    WHEN TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) IS NOT NULL\n     AND (DATEPART(HOUR, TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime)) BETWEEN 22 AND 23\n          OR DATEPART(HOUR, TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime)) BETWEEN 0 AND 5)\n    THEN 1 ELSE 0\n  END                                                              AS is_night_ride,\n  s.ingest_date,\n  s.source_file_name,\n  s.loaded_at\nFROM stg.trip AS s\nLEFT JOIN ref.payment_type_map rp\n  ON NULLIF(LTRIM(RTRIM(CAST(s.payment_type AS VARCHAR(50)))), '') = rp.payment_type_src\n AND rp.is_active = 1\nWHERE s.ingest_date = @ingest_date\n  AND TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) IS NOT NULL\n  AND TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime) IS NOT NULL\n  AND TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) <= TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime)\n  AND TRY_CAST(s.fare_amount AS DECIMAL(9,2)) >= 0\n  AND TRY_CAST(s.trip_distance AS FLOAT) >= 0;\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Quarantine_Rejected",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "BuildSlice_CTAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- Quarantine_Rejected (idempotent)\nDECLARE @ingest_date DATE = '@{pipeline().parameters.run_date}';\n\n-- NEW: clear prior rejects for this slice so reruns don’t accumulate\nDELETE FROM err.trip WHERE ingest_date = @ingest_date;\n\nINSERT INTO err.trip (\n  ingest_date, source_file_name, loaded_at, reject_reason, raw_payload, recorded_at_utc\n)\nSELECT\n  s.ingest_date,\n  s.source_file_name,\n  s.loaded_at,\n  CASE\n    WHEN TRY_CAST(s.fare_amount AS DECIMAL(9,2)) < 0 THEN 'NEGATIVE_FARE'\n    WHEN TRY_CAST(s.trip_distance AS FLOAT) < 0 THEN 'NEGATIVE_DISTANCE'\n    WHEN TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) > TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime) THEN 'PICKUP_AFTER_DROPOFF'\n    WHEN TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) IS NULL OR TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime) IS NULL THEN 'NULL_TIME'\n    ELSE 'OTHER_BAD_VALUES'\n  END,\n  CONCAT(\n    'VendorID=', COALESCE(CAST(s.VendorID AS VARCHAR(16)),'NULL'), '; ',\n    'pickup=',  COALESCE(CONVERT(VARCHAR(19), TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime),120),'NULL'), '; ',\n    'dropoff=', COALESCE(CONVERT(VARCHAR(19), TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime),120),'NULL'), '; ',\n    'fare=',    COALESCE(CAST(s.fare_amount AS VARCHAR(32)),'NULL'), '; ',\n    'dist=',    COALESCE(CAST(s.trip_distance AS VARCHAR(32)),'NULL')\n  ),\n  SYSUTCDATETIME()\nFROM stg.trip s\nWHERE s.ingest_date = @ingest_date\n  AND (\n       TRY_CAST(s.fare_amount AS DECIMAL(9,2)) < 0 OR\n       TRY_CAST(s.trip_distance AS FLOAT) < 0 OR\n       TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) IS NULL OR\n       TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime) IS NULL OR\n       TRY_CONVERT(DATETIME2, s.tpep_pickup_datetime) > TRY_CONVERT(DATETIME2, s.tpep_dropoff_datetime)\n  );\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LoadCore_DedupeAndMetrics",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Quarantine_Rejected",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- LoadCore_DedupeAndMetrics\nDECLARE @ingest_date DATE = '@{pipeline().parameters.run_date}';\n\n-- 1) Idempotent delete of existing partition\nDELETE FROM core.trip_clean WHERE ingest_date = @ingest_date;\n\n-- 2) Deterministic dedupe (compound natural key, since there is no trip_id)\n;WITH ranked AS (\n  SELECT s.*,\n         ROW_NUMBER() OVER (\n           PARTITION BY\n             s.vendor_code,\n             s.pickup_ts_utc,\n             s.dropoff_ts_utc,\n             s.fare_amount,\n             s.trip_distance_km,\n             s.payment_type\n           ORDER BY s.loaded_at DESC, s.source_file_name DESC\n         ) AS rn\n  FROM core.trip_clean_slice s\n  WHERE s.ingest_date = @ingest_date\n)\nINSERT INTO core.trip_clean\n(\n  vendor_code, trip_id, pickup_ts_utc, dropoff_ts_utc,\n  trip_distance_km, fare_amount, payment_type, is_night_ride,\n  ingest_date, source_file_name, loaded_at\n)\nSELECT\n  vendor_code, NULL, pickup_ts_utc, dropoff_ts_utc,\n  trip_distance_km, fare_amount, payment_type, is_night_ride,\n  ingest_date, source_file_name, loaded_at\nFROM ranked\nWHERE rn = 1;\n\n-- Optional: clean up the slice to avoid clutter (keep if no concurrency)\n-- DROP TABLE core.trip_clean_slice;\n\n-- 3) Observability metrics\nINSERT INTO ops.run_metrics (\n  layer, table_name, ingest_date, rows_in, rows_out, rows_err, run_ts_utc, recorded_at_utc\n)\nSELECT\n  'core', 'trip_clean', @ingest_date,\n  (SELECT COUNT(*) FROM stg.trip        WHERE ingest_date = @ingest_date),\n  (SELECT COUNT(*) FROM core.trip_clean WHERE ingest_date = @ingest_date),\n  (SELECT COUNT(*) FROM err.trip        WHERE ingest_date = @ingest_date),\n  SYSUTCDATETIME(), SYSUTCDATETIME();\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "CoreDQ_Gate",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LoadCore_DedupeAndMetrics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- CoreDQ_Gate (core-layer data quality for a single ingest_date)\n-- Assumes tables: stg.trip, core.trip_clean, err.trip (optional)\n-- Fails the activity on any hard violation via THROW.\n\nDECLARE @ingest_date DATE = '@{pipeline().parameters.run_date}';\n\n-- Row counts\nDECLARE @rows_stg   BIGINT = (SELECT COUNT(*) FROM stg.trip       WHERE ingest_date = @ingest_date);\nDECLARE @rows_core  BIGINT = (SELECT COUNT(*) FROM core.trip_clean WHERE ingest_date = @ingest_date);\nDECLARE @rows_err   BIGINT = (SELECT COUNT(*) FROM err.trip       WHERE ingest_date = @ingest_date);\n\n-- Core domain/consistency checks\nDECLARE @bad_time         BIGINT = (\n  SELECT COUNT(*) FROM core.trip_clean\n  WHERE ingest_date=@ingest_date AND pickup_ts_utc > dropoff_ts_utc\n);\n\nDECLARE @neg_fare         BIGINT = (\n  SELECT COUNT(*) FROM core.trip_clean\n  WHERE ingest_date=@ingest_date AND fare_amount < 0\n);\n\nDECLARE @neg_distance     BIGINT = (\n  SELECT COUNT(*) FROM core.trip_clean\n  WHERE ingest_date=@ingest_date AND trip_distance_km < 0\n);\n\nDECLARE @null_pickup      BIGINT = (\n  SELECT COUNT(*) FROM core.trip_clean\n  WHERE ingest_date=@ingest_date AND pickup_ts_utc IS NULL\n);\n\nDECLARE @null_dropoff     BIGINT = (\n  SELECT COUNT(*) FROM core.trip_clean\n  WHERE ingest_date=@ingest_date AND dropoff_ts_utc IS NULL\n);\n\nDECLARE @dupe_trip_id     BIGINT = (\n  SELECT COUNT(*)\n  FROM (\n    SELECT trip_id\n    FROM core.trip_clean\n    WHERE ingest_date=@ingest_date AND trip_id IS NOT NULL\n    GROUP BY trip_id\n    HAVING COUNT(*) > 1\n  ) d\n);\n\n-- Optional sanity: core + err should not exceed staging (if you capture err rows)\nDECLARE @core_plus_err_gt_stg BIT =\n  CASE WHEN @rows_err IS NULL THEN 0\n       WHEN (@rows_core + @rows_err) > @rows_stg THEN 1 ELSE 0 END;\n\n-- Quick human-readable summary (shows in activity output logs)\nSELECT\n  @ingest_date  AS ingest_date,\n  @rows_stg     AS rows_stg,\n  @rows_core    AS rows_core,\n  @rows_err     AS rows_err,\n  @bad_time     AS bad_time_order_cnt,\n  @neg_fare     AS negative_fare_cnt,\n  @neg_distance AS negative_distance_cnt,\n  @null_pickup  AS null_pickup_cnt,\n  @null_dropoff AS null_dropoff_cnt,\n  @dupe_trip_id AS duplicate_trip_id_cnt;\n\n-- Hard fail conditions (stop the pipeline with a clear message)\nIF @rows_core = 0\n  THROW 52000, 'DQ FAIL: core.trip_clean has 0 rows for ingest_date.', 1;\n\nIF @bad_time > 0\n  THROW 52001, 'DQ FAIL: pickup_ts_utc > dropoff_ts_utc detected in core.', 1;\n\nIF @neg_fare > 0\n  THROW 52002, 'DQ FAIL: Negative fare_amount rows present in core.', 1;\n\nIF @neg_distance > 0\n  THROW 52003, 'DQ FAIL: Negative trip_distance_km rows present in core.', 1;\n\nIF @null_pickup > 0\n  THROW 52004, 'DQ FAIL: NULL pickup_ts_utc rows present in core.', 1;\n\nIF @null_dropoff > 0\n  THROW 52005, 'DQ FAIL: NULL dropoff_ts_utc rows present in core.', 1;\n\nIF @dupe_trip_id > 0\n  THROW 52006, 'DQ FAIL: Duplicate trip_id detected in core for this slice.', 1;\n\nIF @core_plus_err_gt_stg = 1\n  THROW 52007, 'DQ FAIL: (core + err) row count exceeds staging row count for this slice.', 1;\n\n-- If we reach here, all checks passed (no THROW)\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LogSuccess",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "CoreDQ_Gate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- LogSuccess (after CoreDQ_Gate succeeds)\nDECLARE @run_id   NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage    NVARCHAR(32)  = 'stg_to_core';\nDECLARE @dataset  NVARCHAR(128) = '@{pipeline().parameters.dataset}';\nDECLARE @d        DATE          = '@{pipeline().parameters.run_date}';\n\nDECLARE @rows BIGINT = (SELECT COUNT(*) FROM core.trip_clean WHERE ingest_date = @d);\n\n-- Try to update existing STARTED row\nUPDATE ops.run_log\nSET status = 'SUCCEEDED',\n    rows_copied = @rows,\n    finished_at_utc = CAST(SYSUTCDATETIME() AS DATETIME2(3))\nWHERE run_id = @run_id\n  AND stage  = @stage;\n\n-- Fallback if no row exists (avoid @@ROWCOUNT)\nIF NOT EXISTS (SELECT 1 FROM ops.run_log WHERE run_id = @run_id AND stage = @stage)\nBEGIN\n  INSERT INTO ops.run_log\n    (run_id, stage, dataset, ingest_date, status, started_at_utc, finished_at_utc, rows_copied)\n  SELECT\n    @run_id, @stage, @dataset, @d, 'SUCCEEDED',\n    CAST(SYSUTCDATETIME() AS DATETIME2(3)),\n    CAST(SYSUTCDATETIME() AS DATETIME2(3)),\n    @rows;\nEND\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LogFailure",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "CoreDQ_Gate",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "-- LogFailure (after CoreDQ_Gate fails)\nDECLARE @run_id   NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage    NVARCHAR(32)  = 'stg_to_core';\nDECLARE @dataset  NVARCHAR(128) = '@{pipeline().parameters.dataset}';\nDECLARE @d        DATE          = '@{pipeline().parameters.run_date}';\n\nDECLARE @rows BIGINT = (SELECT COUNT(*) FROM core.trip_clean WHERE ingest_date = @d);\n\n-- Try to update existing STARTED row\nUPDATE ops.run_log\nSET status = 'FAILED',\n    rows_copied = @rows,\n    finished_at_utc = CAST(SYSUTCDATETIME() AS DATETIME2(3))\nWHERE run_id = @run_id\n  AND stage  = @stage;\n\n-- Fallback if no row exists (avoid @@ROWCOUNT)\nIF NOT EXISTS (SELECT 1 FROM ops.run_log WHERE run_id = @run_id AND stage = @stage)\nBEGIN\n  INSERT INTO ops.run_log\n    (run_id, stage, dataset, ingest_date, status, started_at_utc, finished_at_utc, rows_copied)\n  SELECT\n    @run_id, @stage, @dataset, @d, 'FAILED',\n    CAST(SYSUTCDATETIME() AS DATETIME2(3)),\n    CAST(SYSUTCDATETIME() AS DATETIME2(3)),\n    @rows;\nEND\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "nyctaxi_yellow"
					},
					"run_date": {
						"type": "string",
						"defaultValue": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_syn_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_folder_adf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_dataset": {
						"type": "string"
					},
					"p_run_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(dataset().p_dataset,'/ingest_date=',dataset().p_run_date)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_parquet_adf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_raw_adf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_dataset": {
						"type": "string"
					},
					"p_run_date": {
						"type": "string"
					},
					"p_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().p_dataset,'/ingest_date=',dataset().p_run_date)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_raw_adf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_syn_stg_trip_adf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_syn_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "trip"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_syn_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_raw_to_stg_nyctaxi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteStagingPartition",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LogTheRun",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DELETE FROM stg.trip WHERE ingest_date = '@{pipeline().parameters.run_date}';\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "GetFileList",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DeleteStagingPartition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_raw_folder_adf",
								"type": "DatasetReference",
								"parameters": {
									"p_dataset": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									},
									"p_run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterParquet",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type,'File'),\n     endsWith(item().name,'.snappy.millis.parquet'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterParquet').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "IfNeedsSnappy",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(endsWith(item().name,'.snappy.millis.parquet'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "ConvertToSnappy",
												"type": "SynapseNotebook",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebook": {
														"referenceName": {
															"value": "nb_convert_parquet_to_snappy",
															"type": "Expression"
														},
														"type": "NotebookReference"
													},
													"parameters": {
														"account": {
															"value": "eltazr3adls",
															"type": "string"
														},
														"file_system": {
															"value": "raw",
															"type": "string"
														},
														"dataset": {
															"value": {
																"value": "@pipeline().parameters.dataset",
																"type": "Expression"
															},
															"type": "string"
														},
														"ingest_date": {
															"value": {
																"value": "@pipeline().parameters.run_date",
																"type": "Expression"
															},
															"type": "string"
														},
														"src_file_name": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "string"
														},
														"tgt_file_name": {
															"value": {
																"value": "@replace(item().name, '.parquet', '.snappy.millis.parquet')",
																"type": "Expression"
															},
															"type": "string"
														}
													},
													"snapshot": true,
													"sparkPool": {
														"referenceName": {
															"value": "spsmall",
															"type": "Expression"
														},
														"type": "BigDataPoolReference"
													},
													"executorSize": "Small",
													"conf": {
														"spark.dynamicAllocation.enabled": null,
														"spark.dynamicAllocation.minExecutors": null,
														"spark.dynamicAllocation.maxExecutors": null
													},
													"driverSize": "Small",
													"numExecutors": null
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseArtifacts2",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "CopyToStaging_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "IfNeedsSnappy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"additionalColumns": [
												{
													"name": "ingest_date",
													"value": {
														"value": "@{pipeline().parameters.run_date}",
														"type": "Expression"
													}
												},
												{
													"name": "source_file_name",
													"value": {
														"value": "@{item().name}",
														"type": "Expression"
													}
												},
												{
													"name": "loaded_at",
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBehavior": "Insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VendorID",
														"type": "Int32",
														"physicalType": "INT32"
													},
													"sink": {
														"name": "VendorID",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "tpep_pickup_datetime",
														"type": "String",
														"physicalType": "UTF8"
													},
													"sink": {
														"name": "tpep_pickup_datetime",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												},
												{
													"source": {
														"name": "tpep_dropoff_datetime",
														"type": "String",
														"physicalType": "UTF8"
													},
													"sink": {
														"name": "tpep_dropoff_datetime",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												},
												{
													"source": {
														"name": "passenger_count",
														"type": "Int64",
														"physicalType": "INT64"
													},
													"sink": {
														"name": "passenger_count",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "trip_distance",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "trip_distance",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 3,
														"precision": 9
													}
												},
												{
													"source": {
														"name": "RatecodeID",
														"type": "Int64",
														"physicalType": "INT64"
													},
													"sink": {
														"name": "RatecodeID",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "store_and_fwd_flag",
														"type": "String",
														"physicalType": "UTF8"
													},
													"sink": {
														"name": "store_and_fwd_flag",
														"type": "String",
														"physicalType": "char"
													}
												},
												{
													"source": {
														"name": "PULocationID",
														"type": "Int32",
														"physicalType": "INT32"
													},
													"sink": {
														"name": "PULocationID",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "DOLocationID",
														"type": "Int32",
														"physicalType": "INT32"
													},
													"sink": {
														"name": "DOLocationID",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "payment_type",
														"type": "Int64",
														"physicalType": "INT64"
													},
													"sink": {
														"name": "payment_type",
														"type": "Int16",
														"physicalType": "smallint"
													}
												},
												{
													"source": {
														"name": "fare_amount",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "fare_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "extra",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "extra",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "mta_tax",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "mta_tax",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "tip_amount",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "tip_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "tolls_amount",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "tolls_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "improvement_surcharge",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "improvement_surcharge",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "total_amount",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "total_amount",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "congestion_surcharge",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "congestion_surcharge",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "Airport_fee",
														"type": "Double",
														"physicalType": "DOUBLE"
													},
													"sink": {
														"name": "airport_fee",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													}
												},
												{
													"source": {
														"name": "ingest_date",
														"type": "String"
													},
													"sink": {
														"name": "ingest_date",
														"type": "Date",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "source_file_name",
														"type": "String"
													},
													"sink": {
														"name": "source_file_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "loaded_at",
														"type": "String"
													},
													"sink": {
														"name": "loaded_at",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_raw_parquet_adf",
											"type": "DatasetReference",
											"parameters": {
												"p_dataset": "@pipeline().parameters.dataset",
												"p_run_date": "@pipeline().parameters.run_date",
												"p_file_name": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_syn_stg_trip_adf",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DQ_Rowcount",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "CopyToStaging_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_syn_sql",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DECLARE @run_id NVARCHAR(64)='@{pipeline().RunId}';\nDECLARE @stage  NVARCHAR(32)='raw_to_stg';\nDECLARE @d      DATE='@{pipeline().parameters.run_date}';\nDECLARE @now    DATETIME2(3)=SYSUTCDATETIME();\nDECLARE @cnt    BIGINT;\nDECLARE @status NVARCHAR(16);\n\nSELECT @cnt = COUNT(*) FROM stg.trip WHERE ingest_date=@d;\nSET @status = CASE WHEN @cnt>0 THEN 'PASSED' ELSE 'FAILED' END;\n\nINSERT INTO ops.dq_result (run_id,stage,check_name,ingest_date,status,actual_value,threshold_value,error_message,created_at_utc)\nSELECT @run_id,@stage,'rowcount_gt_0',@d,@status,@cnt,1,NULL,@now;\n\nIF @cnt = 0\n  THROW 51000, 'DQ Rowcount failed: 0 rows loaded for ingest_date', 1;\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DQ_NullPickup",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "DQ_Rowcount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_syn_sql",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DECLARE @run_id NVARCHAR(64)='@{pipeline().RunId}';\nDECLARE @stage  NVARCHAR(32)='raw_to_stg';\nDECLARE @d      DATE='@{pipeline().parameters.run_date}';\nDECLARE @now    DATETIME2(3)=SYSUTCDATETIME();\nDECLARE @bad    BIGINT;\nDECLARE @status NVARCHAR(16);\n\nSELECT @bad = COUNT(*) FROM stg.trip WHERE ingest_date=@d AND tpep_pickup_datetime IS NULL;\nSET @status = CASE WHEN @bad=0 THEN 'PASSED' ELSE 'FAILED' END;\n\nINSERT INTO ops.dq_result (run_id,stage,check_name,ingest_date,status,actual_value,threshold_value,error_message,created_at_utc)\nSELECT @run_id,@stage,'no_null_pickup_ts',@d,@status,@bad,0,NULL,@now;\n\nIF @bad > 0\n  THROW 51001, 'DQ Null pickup datetime failed', 1;\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DQ_NegativeFare",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "DQ_NullPickup",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_syn_sql",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DECLARE @run_id NVARCHAR(64)='@{pipeline().RunId}';\nDECLARE @stage  NVARCHAR(32)='raw_to_stg';\nDECLARE @d      DATE='@{pipeline().parameters.run_date}';\nDECLARE @now    DATETIME2(3)=SYSUTCDATETIME();\nDECLARE @neg    BIGINT;\nDECLARE @status NVARCHAR(16);\n\nSELECT @neg = COUNT(*) FROM stg.trip WHERE ingest_date=@d AND fare_amount < 0;\nSET @status = CASE WHEN @neg=0 THEN 'PASSED' ELSE 'WARNING' END;\n\nINSERT INTO ops.dq_result (run_id,stage,check_name,ingest_date,status,actual_value,threshold_value,error_message,created_at_utc)\nSELECT @run_id,@stage,'no_negative_fare',@d,@status,@neg,0,NULL,@now;\n\n/* No THROW here – we only log and proceed */\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "LogTheRun",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @run_id     NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage      NVARCHAR(32)  = 'raw_to_stg';\nDECLARE @dataset    NVARCHAR(128) = '@{pipeline().parameters.dataset}';\n--DECLARE @ingest     DATE          = '@{pipeline().parameters.run_date}';\n\nDECLARE @ingest_date_str NVARCHAR(32) = '@{pipeline().parameters.run_date}';\nDECLARE @ingest DATE = TRY_CONVERT(DATE, @ingest_date_str, 23);\nIF @ingest IS NULL\n  THROW 53001, 'Bad run_date format. Expected yyyy-MM-dd.', 1;\n\nDECLARE @started    DATETIME2(3)  = SYSUTCDATETIME();\n\nINSERT INTO ops.run_log(run_id, stage, dataset, ingest_date, status, started_at_utc)\nVALUES (@run_id, @stage, @dataset, @ingest, 'STARTED', @started);\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdateTheLogWithSuccess",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @run_id    NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage     NVARCHAR(32)  = 'raw_to_stg';\nDECLARE @ingest    DATE          = '@{pipeline().parameters.run_date}';\nDECLARE @rows      BIGINT        = (SELECT COUNT(*) FROM stg.trip WHERE ingest_date = @ingest);\nDECLARE @finished  DATETIME2(3)  = SYSUTCDATETIME();\n\nUPDATE ops.run_log\nSET status = 'SUCCEEDED',\n    rows_copied = @rows,\n    finished_at_utc = @finished\nWHERE run_id = @run_id AND stage = @stage;\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdateTheLogWithFailure",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_syn_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @run_id    NVARCHAR(64)  = '@{pipeline().RunId}';\nDECLARE @stage     NVARCHAR(32)  = 'raw_to_stg';\nDECLARE @ingest    DATE          = '@{pipeline().parameters.run_date}';\nDECLARE @rows      BIGINT        = (SELECT COUNT(*) FROM stg.trip WHERE ingest_date = @ingest);\nDECLARE @finished  DATETIME2(3)  = SYSUTCDATETIME();\n\nUPDATE ops.run_log\nSET status = 'FAILED',\n    rows_copied = @rows,\n    finished_at_utc = @finished\nWHERE run_id = @run_id AND stage = @stage;\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "nyctaxi_yellow"
					},
					"run_date": {
						"type": "string",
						"defaultValue": "@formatDateTime(utcnow(),'yyyy-MM-dd')"
					},
					"file_name": {
						"type": "string"
					},
					"run_id": {
						"type": "string",
						"defaultValue": "@pipeline().RunId"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_syn_sql')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_folder_adf')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_parquet_adf')]",
				"[concat(variables('factoryId'), '/datasets/ds_syn_stg_trip_adf')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseArtifacts2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_daily_nyctaxi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run_RawToStg",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_raw_to_stg_nyctaxi",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"dataset": {
									"value": "@pipeline().parameters.dataset",
									"type": "Expression"
								},
								"run_date": {
									"value": "@pipeline().parameters.run_date",
									"type": "Expression"
								},
								"run_id": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Run_StgToCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run_RawToStg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_stg_to_core_nyctaxi",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"dataset": {
									"value": "@pipeline().parameters.dataset",
									"type": "Expression"
								},
								"run_date": {
									"value": "@pipeline().parameters.run_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"dataset": {
						"type": "string",
						"defaultValue": "nyctaxi_yellow"
					},
					"run_date": {
						"type": "string",
						"defaultValue": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_raw_to_stg_nyctaxi')]",
				"[concat(variables('factoryId'), '/pipelines/pl_stg_to_core_nyctaxi')]"
			]
		}
	]
}