eltazr1-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eltazr1-adf"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eltazr1adls.dfs.core.windows.net/"
		},
		"AzureSynapseAnalytics1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "eltazr1-syn.sql.azuresynapse.net"
		},
		"AzureSynapseAnalytics1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "eltazr1_sqlpool"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipe_BatchELT_R1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteSlice",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DELETE FROM stg.trip\nWHERE ingest_date = '@{pipeline().parameters.ingest_date}'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ListFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DeleteSlice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Folder",
								"type": "DatasetReference",
								"parameters": {
									"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListFiles').output.childItems",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "TruncateRaw",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "TRUNCATE TABLE stg.trip_raw;"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "CopyIntoRaw",
									"description": "",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "TruncateRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "COPY INTO stg.trip_raw\nFROM 'nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}/@{item().name}'\nWITH (\n  DATA_SOURCE = 'EDS_Raw',\n  FILE_TYPE   = 'PARQUET',\n  MAXERRORS   = 0\n);\n"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "InsertIntoFinal",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "CopyIntoRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": "INSERT INTO stg.trip\n(\n  vendor_id, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance,\n  ratecodeid, store_and_fwd_flag, pu_location_id, do_location_id, payment_type, fare_amount,\n  extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount,\n  congestion_surcharge, airport_fee,\n  ingest_date, source_file_name, loaded_at\n)\nSELECT\n  VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance,\n  RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount,\n  extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount,\n  congestion_surcharge, Airport_fee,\n  '@{pipeline().parameters.ingest_date}', '@{item().name}', SYSUTCDATETIME()\nFROM stg.trip_raw;\n"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ingest_date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{dataset().folder}",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Parquet_NycTaxi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().fileName}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().folder}",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sql_StgTrip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "vendor_id",
						"type": "varchar"
					},
					{
						"name": "tpep_pickup_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "tpep_dropoff_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "passenger_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trip_distance",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "ratecodeid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "store_and_fwd_flag",
						"type": "char"
					},
					{
						"name": "pu_location_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "do_location_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "payment_type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fare_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "extra",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "mta_tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tip_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tolls_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "improvement_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "congestion_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "airport_fee",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "ingest_date",
						"type": "date"
					},
					{
						"name": "source_file_name",
						"type": "nvarchar"
					},
					{
						"name": "loaded_at",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "trip"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sql_StgTripRaw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "VendorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tpep_pickup_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "tpep_dropoff_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "passenger_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trip_distance",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "RatecodeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "store_and_fwd_flag",
						"type": "char"
					},
					{
						"name": "PULocationID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DOLocationID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "payment_type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fare_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "extra",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "mta_tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tip_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tolls_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "improvement_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "congestion_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Airport_fee",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "trip_raw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		}
	]
}