eltazr1-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eltazr1-adf"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://eltazr1adls.dfs.core.windows.net/"
		},
		"AzureSynapseAnalytics1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "eltazr1-syn.sql.azuresynapse.net"
		},
		"AzureSynapseAnalytics1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "eltazr1_sqlpool"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipe_BatchELT_R1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteSlice",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DELETE FROM stg.trip\nWHERE ingest_date = '@{pipeline().parameters.ingest_date}'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ListFiles",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DeleteSlice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Folder",
								"type": "DatasetReference",
								"parameters": {
									"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListFiles').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyToStaging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"additionalColumns": [
												{
													"name": "ingest_date",
													"value": {
														"value": "@{pipeline().parameters.ingest_date}",
														"type": "Expression"
													}
												},
												{
													"name": "source_file_name",
													"value": {
														"value": "@{item().name}",
														"type": "Expression"
													}
												},
												{
													"name": "loaded_at",
													"value": {
														"value": "@{utcNow()}",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBehavior": "Insert",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "VendorID"
													},
													"sink": {
														"name": "vendor_id",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "tpep_pickup_datetime"
													},
													"sink": {
														"name": "tpep_pickup_datetime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "tpep_dropoff_datetime"
													},
													"sink": {
														"name": "tpep_dropoff_datetime",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "passenger_count"
													},
													"sink": {
														"name": "passenger_count",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "trip_distance"
													},
													"sink": {
														"name": "trip_distance",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "RatecodeID"
													},
													"sink": {
														"name": "ratecodeid",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "store_and_fwd_flag"
													},
													"sink": {
														"name": "store_and_fwd_flag",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PULocationID"
													},
													"sink": {
														"name": "pu_location_id",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "DOLocationID"
													},
													"sink": {
														"name": "do_location_id",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "payment_type"
													},
													"sink": {
														"name": "payment_type",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "fare_amount"
													},
													"sink": {
														"name": "fare_amount",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "extra"
													},
													"sink": {
														"name": "extra",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "mta_tax"
													},
													"sink": {
														"name": "mta_tax",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "tip_amount"
													},
													"sink": {
														"name": "tip_amount",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "tolls_amount"
													},
													"sink": {
														"name": "tolls_amount",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "improvement_surcharge"
													},
													"sink": {
														"name": "improvement_surcharge",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "total_amount"
													},
													"sink": {
														"name": "total_amount",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "congestion_surcharge"
													},
													"sink": {
														"name": "congestion_surcharge",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "Airport_fee"
													},
													"sink": {
														"name": "airport_fee",
														"type": "Decimal"
													}
												},
												{
													"source": {
														"name": "ingest_date"
													},
													"sink": {
														"name": "ingest_date",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "source_file_name"
													},
													"sink": {
														"name": "source_file_name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "loaded_at"
													},
													"sink": {
														"name": "loaded_at",
														"type": "DateTime"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Parquet_NycTaxi",
											"type": "DatasetReference",
											"parameters": {
												"folder": "nyc_taxi/ingest_date=@{pipeline().parameters.ingest_date}",
												"fileName": "@{item().name}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Sql_StgTrip",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ingest_date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Folder')]",
				"[concat(variables('factoryId'), '/datasets/DS_Parquet_NycTaxi')]",
				"[concat(variables('factoryId'), '/datasets/DS_Sql_StgTrip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{dataset().folder}",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Parquet_NycTaxi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().fileName}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().folder}",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Sql_StgTrip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "vendor_id",
						"type": "varchar"
					},
					{
						"name": "tpep_pickup_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "tpep_dropoff_datetime",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "passenger_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trip_distance",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "ratecodeid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "store_and_fwd_flag",
						"type": "char"
					},
					{
						"name": "pu_location_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "do_location_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "payment_type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fare_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "extra",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "mta_tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tip_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "tolls_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "improvement_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "congestion_surcharge",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "airport_fee",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "ingest_date",
						"type": "date"
					},
					{
						"name": "source_file_name",
						"type": "nvarchar"
					},
					{
						"name": "loaded_at",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "trip"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSynapseAnalytics1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		}
	]
}